


{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <main class="pt-4">
        <div class="container mt-5">
            <div class="col-6 offset-3 mt-5">
                <h1>{% trans "Set Password" %}</h1>

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </form>
            </div>
        </div>
    </main>

{% endblock %}
