<!DOCTYPE html>
{% extends '_base.html' %}
{% load static %}

{% block content %}
  <!--Main layout-->
  <main class="mt-4 pt-5">
    <div class="container">
      <div class="row align-items-start mb-2 wow fadeIn">
        <div class="col-lg-12 offset-4 mt-2">
          <form class="form-inline col-12" action="{% url 'home_page' %}" method="get">
            {{ filter.form }}
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <input name="qrall" type="submit"
                         class="dropdown-item"
                         style="color: #000000;"
                         value="All">
                </input>
              </li>
              <li class="nav-item">
                <input name="qrbus" type="submit"
                         class="dropdown-item"
                         style="color: #000000;"
                         value="Business">
                </input>
              </li>
              <li class="nav-item">
                <input name="qrinv" type="submit"
                         class="dropdown-item"
                         style="color: #000000;color"
                         value="Investing">
                </input>
              </li>
              <li class="nav-item">
                <input name="qrbio" type="submit"
                         class="dropdown-item"
                         style="color: #000000;"
                         value="Biography">
                </input>
              </li>
            </ul>
          </form>
        </div>
        <div class="col-lg-12 mb-2">
          <form method="get" class="col-12">
          <li class="nav-item">
            <input name="contains_qs" class="form-control text-center"
                   type="text"
                   placeholder="Search by Title or Author" aria-label="Search">
          </li>
          </form>
        </div>
      </div>

      <!--Section: Cards-->
      <section class="text-center">


        <!--Grid row-->
        <div class="row align-items-start mb-2 wow fadeIn">
        {% if filtered_book_list %}
          {% for book in filtered_book_list %}
          <!--Grid column-->
          <div class="col-lg-2 col-md-4 mb-2">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <a href="{{ book.get_absolute_url }}">
                  <img src="{{book.image}}" class="card-img-top"
                     style="width:155px; height:230px;" alt="{{book.title}}">
                </a>
              </div>
            </div>
            <!--/.Card-->
          </div>

          <!--Grid column-->
          {% endfor %}
          {% else %}
          {% for book in book_list %}
          <!--Grid column-->
          <div class="col-lg-2 col-md-4 mb-2">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <a href="{{ book.get_absolute_url }}">
                  <img src="{{book.image}}" class="card-img-top"
                     style="width:155px; height:230px;" alt="{{book.title}}">
                </a>
              </div>
            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->
          {% endfor %}
        {% endif %}
        </div>
        <!--Grid row-->

        <!--Pagination-->
        <nav class="d-flex justify-content-center wow fadeIn">
          <ul class="pagination pg-blue">
            <!--Arrow left-->
            <li class="page-item">
              <a class="page-link" href="?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

        {% for num in page_obj.paginator.page_range %}
          {% if num == page_obj.number %}
            <li class="page-item active">
              <a class="page-link" href="?page={{num}}">{{num}}</a>
            </li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item">
              <a class="page-link" href="?page={{num}}">{{num}}</a>
            </li>
          {% endif %}
        {% endfor %}

            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
        <!--Pagination-->
      </section>
      <!--Section: Cards-->
    </div>
  </main>
  <!--Main layout-->
{% endblock content %}
