<!DOCTYPE html>
{% extends '_base.html' %}
{% load static %}

{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-5">
    <div class="container">

      <!--Section: Post-->
      <section class="mt-1">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-8 offset-2 mb-4">

            <!--Featured Image-->
            <div class="card mb-4 wow fadeIn">


              <div class="row">
                <div class="col-lg-4 col-md-12 m-2">
                  <img src="{{ book.image }}" class="img-fluid" alt=""
                       style="width:216px;heigh:330px;">
                </div>

                <div class="col-lg-7 col-md-12 mt-2 mb-2">
                  <span><strong>{{ book }}</strong></span><br>
                  <span>by {{ book.author }}</span>
                  <hr class="my-1">
<!--                  <div class="row m-0">-->
<!--                    <a class="gr-hyperlink" href="#other_reviews">-->
<!--                      <meta itemprop="ratingCount" content="204627">204,627-->
<!--                      ratings-->
<!--                    </a>-->
<!--                    <span class="greyText">&nbsp;·&nbsp;</span>-->
<!--                    <a class="gr-hyperlink" href="#other_reviews">-->
<!--                      <meta itemprop="ratingCount" content="204627">204,627-->
<!--                      ratings-->
<!--                    </a>-->
<!--                    <span class="greyText">&nbsp;·&nbsp;</span>-->
<!--                    <a class="gr-hyperlink" href="#other_reviews">-->
<!--                      <meta itemprop="ratingCount" content="204627">204,627-->
<!--                      ratings-->
<!--                    </a>-->
<!--                  </div>-->
                  <p class="show-read-more">
                    {{ book.description }}
                  </p>
                </div>
              </div>


            </div>
            <!--/.Featured Image-->

            <!--Card-->
            <div class="card mb-4 wow fadeIn">

              <!--Card content-->
              <div class="card-body text-center">
                <form method="post" action="{% url 'note_add_book' %}"
                      id="main_note_form">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleFormControlTextarea3">Notes
                      Editor</label>
                    <textarea id="exampleFormControlTextarea3"
                              class="form-control"
                              name="note_book_textarea"
                              rows="4" maxlength="255"></textarea>
                    <input type="hidden" name="note_book_id123"
                           value="{{book.id}}" id="exampleFormControlTextarea4">
                    <button class="btn btn-light btn-sm mt-4" type="submit"
                            value="Submit">Post
                    </button>
                  </div>
                </form>
              </div>

            </div>
            <!--/.Card-->

            <!--Card-->
            <div class="card mb-4 wow fadeIn">

              <!--Card content-->
              <div class="card-body" >

                <p class="h5 my-2">NOTES</p>

                <p id="talk"></p>
              {% for note in user_notes %}
                <p><span class="text-primary">{{note.note_user|upper}}</span>
                  | {{ note.note_body }}</p>
                <p>{{ note.note_date }}</p>
                <hr>
              {% endfor %}
                <br>
                <input class="offset-5"  type="button" name="answer"
                       onclick="ShowDiv()"
                       value="Comment">
                <form method="post" action="{% url 'comment_add_book' %}"
                      id="main_comment_form">
                  {% csrf_token %}
                  <div class="form-group mt-4" style="display:none;"
                     id="comment_form_id123">
                      <textarea class="form-control"
                                id="CommentFormTextarea2" rows="1"></textarea>
                      <input value="{{ book.id }}" name="note_id"
                             type="hidden" id="CommentFormBookId3">
                      <div class="text-center">
                        <button class="btn btn-light btn-sm" type="submit">Post
                        </button>
                      </div>
                </div>
                </form>
              </div>

            </div>
            <!--/.Card-->



            <!--Comments-->
            <div class="card card-comments mb-3 wow fadeIn">
              <div
                      class="card-header font-weight-bold">{{book_comments.count }} comments</div>
              <div class="card-body">

                <div class="media d-block d-md-flex">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <p id="comment_p1">
                    </p>
                    {% for comment in book_comments %}
                      <p><span class="text-primary">{{comment.comment_user|upper}}</span>
                        | {{ comment.comment_text }}.</p>
                      <p>{{ comment.comment_date }}</p>
                      <hr>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
            <!--/.Comments-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Post-->

    </div>
  </main>
  <!--Main layout-->
{% endblock content %}


{% block javascript %}
<script>

  $(document).on('submit','#main_note_form',function(event){
      event.preventDefault();
      $.ajaxSetup({
          headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
      $.ajax({
          method:"POST",
          url: '{% url 'note_add_book' %}',
          data: JSON.stringify({
                note_book_textarea:$('#exampleFormControlTextarea3').val(),
                note_book_id123: $('#exampleFormControlTextarea4').val(),
          }),
          success: function(json){
                $('#exampleFormControlTextarea3').val('');
                console.log(json);
                $("#talk").prepend("<p>"+json.note_text+"</p>");
                console.log("success");
                alert('Successfully submitted the form!');
          },

          error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        },
      })
  })

  function ShowDiv() {
    document.getElementById("comment_form_id123").style.display = "";
  }

    $(document).on('submit','#main_comment_form',function(event){
      event.preventDefault();
      $.ajaxSetup({
          headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
      $.ajax({
          method:"POST",
          url: '{% url 'comment_add_book' %}',
          data: JSON.stringify({
                comment_text:$('#CommentFormTextarea2')
                .val(),
                comment_book_id: $('#CommentFormBookId3').val(),
          }),
          success: function(json){
                $('#CommentFormTextarea2').val('');
                console.log(json);
                $("#comment_p1").prepend("<p>"+json.comment_text+"</p>");
                console.log("success");
                alert('Successfully submitted the form!');
          },

          error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        },
      })
  })

    $(document).ready(function(){
        var maxLength = 500;
        $(".show-read-more").each(function(){
            var myStr = $(this).text();
            if($.trim(myStr).length > maxLength){
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read-more">read more...</a>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function(){
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>
{% endblock javascript %}