<!DOCTYPE html>
{% extends '_base.html' %}
{% load static %}

{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-5">
    <div class="container">

      <!--Section: Post-->
      <section class="mt-4">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-8 mb-4">

            <!--Featured Image-->
            <div class="card mb-4 wow fadeIn">


              <div class="row">
                <div class="col-lg-4 col-md-12 m-2">
                  <img src="{{ book.image }}" class="img-fluid" alt=""
                       style="width:216px;heigh:330px;">
                </div>

                <div class="col-lg-7 col-md-12 mt-2 mb-2">
                  <span><strong>{{ book }}</strong></span><br>
                  <span>by {{ book.author }}</span>
                  <hr class="my-1">
                  <div class="row m-0">
                    <a class="gr-hyperlink" href="#other_reviews">
                      <meta itemprop="ratingCount" content="204627">204,627
                      ratings
                    </a>
                    <span class="greyText">&nbsp;·&nbsp;</span>
                    <a class="gr-hyperlink" href="#other_reviews">
                      <meta itemprop="ratingCount" content="204627">204,627
                      ratings
                    </a>
                    <span class="greyText">&nbsp;·&nbsp;</span>
                    <a class="gr-hyperlink" href="#other_reviews">
                      <meta itemprop="ratingCount" content="204627">204,627
                      ratings
                    </a>
                  </div>
                  <p>
                    {{ book.description }}
                  </p>
                </div>
              </div>


            </div>
            <!--/.Featured Image-->

            <!--Card-->
            <div class="card mb-4 wow fadeIn">

              <!--Card content-->
              <div class="card-body text-center">
                <form method="post" action="{% url 'note_add_book' %}"
                      id="main_note_form">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleFormControlTextarea3">Notes
                      Editor</label>
                    <textarea id="exampleFormControlTextarea3"
                              class="form-control"
                              name="note_book_textarea"
                              rows="4" maxlength="255"></textarea>
                    <input type="hidden" name="note_book_id123"
                           value="{{book.id}}" id="exampleFormControlTextarea4">
                    <button class="btn btn-light mt-4" type="submit"
                            value="Submit">Post
                    </button>
                  </div>
                </form>
              </div>

            </div>
            <!--/.Card-->

            <!--Card-->
            <div class="card mb-4 wow fadeIn">

              <!--Card content-->
              <div class="card-body" >

                <p class="h5 my-2">NOTES</p>

                <p id="talk"></p>
              {% for note in user_notes %}
                <p><span class="text-primary">{{note.note_user|upper}}</span>
                  | {{ note.note_body }}</p>
                <div class="row m-1 float-right">
                  <p>{{ note.note_date }}</p>
                  <input type="button" name="answer" onclick="ShowDiv()">
                </div>
                <div class="form-group mt-4" style="display:none;"
                     id="comment_form-{{note.note_id}}">
                      <input type="hidden"
                             value="comment_form-{{note.note_id}}"
                             id="comment_form_id" name="comment_form_id">
                      <textarea class="form-control"
                                id="quickReplyFormComment" rows="1"></textarea>
                      <div class="text-center">
                        <button class="btn btn-info btn-sm" type="submit">Post</button>
                      </div>
                </div>

                <hr>
              {% endfor %}
              </div>

            </div>
            <!--/.Card-->



            <!--Comments-->
            <div class="card card-comments mb-3 wow fadeIn">
              <div class="card-header font-weight-bold">3 comments</div>
              <div class="card-body">

                <div class="media d-block d-md-flex">
                  <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    comment 1

                  </div>
                </div>

              </div>
            </div>
            <!--/.Comments-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-4">

            <!--Card: Jumbotron-->
            <div class="card blue-gradient mb-4 wow fadeIn">

              <!-- Content -->
              <div class="card-body text-white text-center">

                <h4 class="mb-4">
                  <strong>Learn Bootstrap 4 with MDB</strong>
                </h4>
                <p>
                  <strong>Best & free guide of responsive web design</strong>
                </p>
                <p class="mb-4">
                  <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video
                    and written versions available. Create your own, stunning website.</strong>
                </p>
                <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-md">Start
                  free tutorial
                  <i class="fas fa-graduation-cap ml-2"></i>
                </a>

              </div>
              <!-- Content -->
            </div>
            <!--Card: Jumbotron-->

            <!--Card : Dynamic content wrapper-->
            <div class="card mb-4 text-center wow fadeIn">

              <div class="card-header">Do you want to get informed about new articles?</div>

              <!--Card content-->
              <div class="card-body">

                <!-- Default form login -->
                <form>

                  <!-- Default input email -->
                  <label class="grey-text">Your email</label>
                  <input type="email" id="defaultFormLoginEmailEx" class="form-control">

                  <br>

                  <!-- Default input password -->
                  <label for="defaultFormNameEx" class="grey-text">Your name</label>
                  <input type="text" id="defaultFormNameEx" class="form-control">

                  <div class="text-center mt-4">
                    <button class="btn btn-info btn-md" type="submit">Sign up</button>
                  </div>
                </form>
                <!-- Default form login -->

              </div>

            </div>
            <!--/.Card : Dynamic content wrapper-->

            <!--Card-->
            <div class="card mb-4 wow fadeIn">

              <div class="card-header">Related articles</div>

              <!--Card content-->
              <div class="card-body">

                <ul class="list-unstyled">
                  <li class="media">
                    <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                      <a href="">
                        <h5 class="mt-0 mb-1 font-weight-bold">List-based media object</h5>
                      </a>
                      Cras sit amet nibh libero, in gravida nulla (...)
                    </div>
                  </li>
                  <li class="media my-4">
                    <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg" alt="An image">
                    <div class="media-body">
                      <a href="">
                        <h5 class="mt-0 mb-1 font-weight-bold">List-based media object</h5>
                      </a>
                      Cras sit amet nibh libero, in gravida nulla (...)
                    </div>
                  </li>
                  <li class="media">
                    <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder5.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                      <a href="">
                        <h5 class="mt-0 mb-1 font-weight-bold">List-based media object</h5>
                      </a>
                      Cras sit amet nibh libero, in gravida nulla (...)
                    </div>
                  </li>
                </ul>

              </div>

            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Post-->

    </div>
  </main>
  <!--Main layout-->
{% endblock content %}


{% block javascript %}
<script>

  $(document).on('submit','#main_note_form',function(event){
      event.preventDefault();
      $.ajaxSetup({
          headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
      $.ajax({
          method:"POST",
          url: '{% url 'note_add_book' %}',
          data: JSON.stringify({
                note_book_textarea:$('#exampleFormControlTextarea3').val(),
                note_book_id123: $('#exampleFormControlTextarea4').val(),
          }),
          success: function(json){
                $('#exampleFormControlTextarea3').val('');
                console.log(json);
                $("#talk").prepend("<p>"+json.comment_text+"</p>");
                console.log("success");
                alert('Successfully submitted the form!');
          },

          error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        },
      })
  })

  function ShowDiv() {
    var comment_form_id = $('#comment_form_id').val()
    document.getElementById("comment_form_id").style.display = "";
  }
</script>
{% endblock javascript %}